@font-face {
  font-family: 'SF Pro Text';
  src: url(./font-files/SFProText-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url(./font-files/SFProText-Medium.ttf);
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url(./font-files/SFProText-Semibold.ttf);
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url(./font-files/SFProText-Bold.ttf);
  font-weight: 700;
  font-display: swap;
}