@import '../../fonts/style.scss';

.item {
  background-color: $color_grey_light;
  min-height: 100vh;
  width: 390px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.itemApp {
  border: none;
}