@import '../../fonts/style.scss';

.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 390px;
  height: 100vh;
  background-color: $grey-item-color;
  padding: 20px;
  overflow: hidden;
  box-sizing: border-box;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $light-yellow-item-color;
  padding: 20px;
  gap: 18px;
  box-sizing: border-box;
  border-radius: 16px;
  position: relative;
}

.image {
  width: 175px;
  height: 174px;
  margin-bottom: 9px;
}

.textM {
  font-family: 'SF Pro Text', Arial;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  max-width: 224px;
  text-align: center;
}

.textS {
  font-family: 'SF Pro Text', Arial;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  position: relative;
}

.closeButton {
  border: none;
  align-self: flex-end;
  background-color: transparent;
}

.sync {
  bottom: -3px;
  position: relative;
  margin-right: 3px;
}

.button {
  border: 1px solid $yellow-item-color;
  color: black;
  font-family: 'SF Pro Text', Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px;
  border-radius: 8px;
  background-color: transparent;
  margin-bottom: 8px;
}